<div class="row justify-content-evenly p-3">
    <div class="col-md-2 border border-dark p-2">
        <img src=<%= user.photo %> alt= '<%= user.name + ' profile'%>' class="img-fluid rounded mx-auto d-block"/>
    </div>
    <div class="col-md-8 border border-dark p-2">
        <h4><%= user.name %></h4>   
        <p>Number of posts: <%= user.posts.count%></p>
    </div>
</div>